locals {
  resource_prefix = "{{.DeployPrefix}}"
}

module "tilores" {
  source = "tilotech/tilores-core/aws"

  resource_prefix       = local.full_resource_prefix
  api_file              = var.api_file
  rule_config_file      = var.rule_config_file
  external_reflists     = var.external_reflists
  authorizer_audience   = values(module.cognito.client_ids)
  authorizer_issuer_url = module.cognito.issuer_url
}

module "cognito" {
  source = "tilotech/tilores-cognito/aws"

  available_scopes = [
    {
      name : "mutation.submit"
      description : "allows submit requests"
    },
    {
      name : "mutation.disassemble"
      description : "allows disassemble requests"
    },
    {
      name : "mutation.removeConnectionBan"
      description : "allows remove connection ban requests"
    },
    {
      name : "query.search"
      description : "allows search requests"
    },
    {
      name : "query.entity"
      description : "allows query entity requests"
    },
    {
      name : "query.metrics"
      description : "allows query metric requests"
    },
    {
      name : "query.reviewCases"
      description : "allows listing the review queue"
    },
    {
      name : "query.reviewDecisions"
      description : "allows reading the decisions that were made about review cases"
    },
    {
      name : "mutation.createReviewCase"
      description : "allows putting an entity into the review queue"
    },
    {
      name : "mutation.claimReviewCase"
      description : "allows claiming a review case"
    },
    {
      name : "mutation.releaseReviewCase"
      description : "allows releasing a claimed review case"
    },
    {
      name : "mutation.resolveReviewCase"
      description : "allows deciding a claimed review case"
    }
  ]
  clients = {
    client = {
      allowed_scopes = [
        "tilores/mutation.submit",
        "tilores/mutation.disassemble",
        "tilores/mutation.removeConnectionBan",
        "tilores/query.search",
        "tilores/query.entity",
        "tilores/query.metrics",
        "tilores/query.reviewCases",
        "tilores/query.reviewDecisions",
        "tilores/mutation.createReviewCase",
        "tilores/mutation.claimReviewCase",
        "tilores/mutation.releaseReviewCase",
        "tilores/mutation.resolveReviewCase"
      ]
    }
  }

  resource_prefix = local.full_resource_prefix
}
