{
  "comparers": [],
  "tokenizers": [],
  "transformers": [
    {
      "id": "transformer-1",
      "type": "field",
      "attributes": {
        "path": "myCustomField",
        "caseSensitive": false,
        "mustExist": true,
        "outputPins": [
          "default"
        ]
      },
      "inputPins": {
        "default": null
      }
    }
  ],
  "resolvers": [
    {
      "id": "resolver-1",
      "inputPin": {
        "sourceID": "transformer-1",
        "sourcePin": "default"
      }
    }
  ],
  "matchers": [
    {
      "id": "matcher-1",
      "type": "simple",
      "attributes": {
        "resolverID": "resolver-1"
      }
    }
  ],
  "rules": [
    {
      "id": "R1EXACT",
      "matcherIDs": [
        "matcher-1"
      ],
      "attributes": {
        "ignoreErrors": true
      }
    }
  ],
  "ruleSets": [
    {
      "id": "common",
      "ruleIDs": [
        "R1EXACT"
      ]
    }
  ],
  "searchRuleSetIDs": {
    "default": "common"
  },
  "mutationRuleSetGroups": {
    "default": {
      "indexRuleSetID": "common",
      "linkRuleSetID": "common",
      "deduplicateRuleSetID": null
    }
  }
}