package main

import (
	"log"
	"net/http"
	"os"
	"os/exec"

	"github.com/99designs/gqlgen/graphql/handler"
	"github.com/99designs/gqlgen/graphql/playground"
	"github.com/tilotech/tilores-plugin-api/dispatcher"
	"{{.ModulePath}}/graph"
	"{{.ModulePath}}/graph/generated"
)

func main() {
  if len(os.Args) != 2 {
    log.Fatal("missing arguments")
  }
  port := os.Args[1]
	dsp, kill, err := dispatcher.Initialize(exec.Command("./tilores-plugin-dispatcher"))
	defer kill()
	if err != nil {
		log.Fatal(err)
	}

	srv := handler.NewDefaultServer(generated.NewExecutableSchema(generated.Config{Resolvers: &graph.Resolver{
		Dispatcher: dsp,
	}}))

	http.Handle("/", playground.Handler("{{.ApplicationName}} API", "/query"))
	http.Handle("/query", srv)

	log.Printf("connect to http://localhost:%s/ for your personalized {{.ApplicationName}} API", port)
	log.Fatal(http.ListenAndServe(":"+port, nil))
}
