output "api_url" {
  value       = module.tilores.api_url
  description = "The endpoint URL of the Fake API."
}

output "token_url" {
  value       = module.cognito.token_url
  description = "The URL for receiving an access token using the OAuth 2.0 client credentials flow."
}
