//go:build tools
// +build tools

// tools is a dummy package that will be ignored for builds, but included for dependencies
package tools

import (
	_ "github.com/99designs/gqlgen"
	_ "github.com/tilotech/tilores-plugin-api/dispatcher"
	_ "github.com/tilotech/tilores-plugin-fake-dispatcher"
)
