package model

import (
	"encoding/json"
	"io"

	"github.com/99designs/gqlgen/graphql"
	"github.com/tilotech/tilores-plugin-api/dispatcher"
)

// MarshalHits is a custom graphql marshaller for implementing the
// Hits scalar.
func MarshalHits(hits dispatcher.Hits) graphql.Marshaler {
	return graphql.WriterFunc(func(w io.Writer) {
		b, err := json.Marshal(hits)
		if err != nil {
			panic(err)
		}
		_, _ = w.Write(b)
	})
}

// UnmarshalHits is a custom graphql unmarshaller for implementing the
// Hits scalar.
//
// Hits cannot be unmarshalled. Any call will panic.
func UnmarshalHits(v interface{}) (dispatcher.Hits, error) {
	panic("hits cannot be unmarshalled")
}
