package model

import (
	api "github.com/tilotech/tilores-plugin-api"
)

type Entity struct {
	ID          string `json:"id"`
	APIRecords  []*api.Record
	Edges       []string       `json:"edges"`
	Duplicates  api.Duplicates `json:"duplicates"`
	Hits        api.Hits       `json:"hits"`
	Consistency float64        `json:"consistency"`
	Score       float64        `json:"score"`
	HitScore    float64        `json:"hitScore"`
}
