# {{.GeneratedMsg}}

type Mutation {
  submit(records: [RecordInput!]!): SubmissionResult!
}

type SubmissionResult @goModel(model: "gitlab.com/tilotech/tilores-plugin-api/dispatcher.SubmissionResult") {
  recordsAdded: Int!
}