# {{.GeneratedMsg}}

type Query {
  """Search searches for entities that match the search parameters."""
  search(input: SearchInput!): SearchOutput! @hasPrivilege(privilege: "tilores/query.search")

  """Entity returns a single entity with the provided id."""
  entity(input: EntityInput!): EntityOutput! @hasPrivilege(privilege: "tilores/query.entity")
}

"""SearchInput the data input used for search."""
input SearchInput {
  """The parameters used to search for entities"""
  parameters: SearchParams!
}

"""SearchOutput the output of search query."""
type SearchOutput {
  """All entities matching the search parameters based on the search configuration."""
  entities: [Entity!]!

  """List all rules satisfied per matched record id."""
  hits: Hits!
}

"""Hits lists all rules satisfied per matched record id

Example (in JSON):
{
"550e8400-e29b-11d4-a716-446655440000": ["RULE-1", "RULE-2"],
"6ba7b810-9dad-11d1-80b4-00c04fd430c8": ["RULE-2"],
}"""
scalar Hits @goModel(model: "{{.ModulePath}}/graph/model.Hits")

"""SearchInput the data input used for entity query."""
input EntityInput @goModel(model: "github.com/tilotech/tilores-plugin-api/dispatcher.EntityInput") {
  """Entity ID to search for"""
  id: ID!
}

"""SearchOutput the output of entity query."""
type EntityOutput {
  entity: Entity
}
