variable "region" {
  type        = string
  description = "The AWS region in which to deploy the API"
}

variable "profile" {
  type        = string
  default     = ""
  description = "The name of the AWS profile for resolving the credentials."
}

variable "api_file" {
  type        = string
  description = "The path to the built and zipped API artifact."
}

variable "dispatcher_file" {
  type        = string
  description = "The path to the built and zipped Fake Dispatcher plugin."
}