package handler

import (
	"context"
	"fmt"
	"os/exec"

	"{{.ModulePath}}/graph"
	"{{.ModulePath}}/graph/generated"

	"github.com/99designs/gqlgen/graphql"
	"github.com/99designs/gqlgen/graphql/handler"
	"github.com/99designs/gqlgen/graphql/handler/extension"
	"github.com/99designs/gqlgen/graphql/handler/transport"
	"github.com/aws/aws-lambda-go/events"
	"github.com/awslabs/aws-lambda-go-api-proxy/handlerfunc"
	"github.com/hashicorp/go-plugin"
	oauth "github.com/tilotech/tilores-directive-oauth-scope"
	"github.com/tilotech/tilores-plugin-api/dispatcher"
	"github.com/vektah/gqlparser/v2/gqlerror"
)

// HandleGraphQLRequest is the entry point when started in a lambda function
func HandleGraphQLRequest(ctx context.Context, request *events.APIGatewayProxyRequest) (*events.APIGatewayProxyResponse, error) {
	initAdapter()

	ctx, err := oauth.ContextWithScopes(ctx, request)
	if err != nil {
		fmt.Println(err)
		return &events.APIGatewayProxyResponse{
			Body:       `{"message":"` + err.Error() + `"}`,
			StatusCode: 500,
		}, nil
	}

	response, err := adapter.ProxyWithContext(ctx, *request)
	if err != nil {
		fmt.Println(err)
	}

	return &response, err
}

var adapter *handlerfunc.HandlerFuncAdapter
var reattachConfig *plugin.ReattachConfig
var resolver *graph.Resolver

func initAdapter() {
	// kill function ignored, because the plugin should never shut down unless the
	// lambda function does
	dsp, _, rc, err := dispatcher.Initialize(exec.Command("/opt/tilores-plugin-dispatcher"), reattachConfig)
	if err != nil {
		panic(err)
	}

	reattachConfig = rc

	if resolver != nil {
		resolver.Dispatcher = dsp
		return
	}
	gqlConfig := generated.Config{
		Resolvers: &graph.Resolver{
			Dispatcher: dsp,
		},
	}

	gqlConfig.Directives.HasPrivilege = func(ctx context.Context, obj interface{}, next graphql.Resolver, privilege string) (interface{}, error) {
		if !oauth.HasPrivilege(ctx, privilege) {
			return nil, fmt.Errorf("access denied, required privilege: %s", privilege)
		}
		return next(ctx)
	}

	schema := generated.NewExecutableSchema(gqlConfig)
	srv := handler.New(schema)
	srv.AddTransport(transport.POST{})
	srv.Use(extension.Introspection{})
	srv.SetErrorPresenter(func(ctx context.Context, e error) *gqlerror.Error {
		fmt.Printf("error: %v\n", e)
		return graphql.DefaultErrorPresenter(ctx, e)
	})
	adapter = handlerfunc.New(srv.ServeHTTP)
}
